.formulaire_editer_email_subscription .titrem {display:none;}

.formulaire_login .details{ display:none; }

.formulaire_simplasso .saisie_radio .casechoix {
    display: inline-block;
    font-size:0.9em;
    margin:  5px;
    padding:  10px;
    line-height: 25px;
    min-width: 20px;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;

}


.formulaire_simplasso .saisie_radio .choix label{
    padding:0;margin:0;
    vertical-align: middle;
}

.formulaire_simplasso .saisie_radio input.radio{

    vertical-align: middle;
}

.formulaire_simplasso .saisie_radio .choix input.text{
    box-shadow: 0 0 0 1px #E0E0E0 inset;
}

.formulaire_simplasso .saisie_radio .choix input.text:focus{
    box-shadow: 0 0 0 1px #333 inset;
}

.payer_modes div.payer_mode{
    margin: 1em 1em;
    padding:1em;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}

.formulaire_login_simplasso .boutons {
    margin-left:220px;

}
.formulaire_simplasso .boutons {
    margin-left:1em; margin-top:0;

}

.formulaire_login_simplasso .details{
    display:inline-block;
    text-align: right;
    margin-right: 2em;
    margin-bottom: 0;
    font-size:0.9em;
    width: calc(100% - 2em);
}



@media screen and (max-width: 767px){

    .page{
        margin:0;
        padding-top: 1em;
    }
    .formulaire_login_simplasso .boutons{
        margin-left: 2em;
    }

}
@media screen and (max-width: 1204px){

    .formulaire_login_simplasso .details{
        margin-right: 1em;
        max-width: 300px;
    }

}



.formulaire_simplasso span.obligatoire{
color:#CC3333;
}

.formulaire_simplasso .info_cplt{
    margin:1em;
    font-size:0.8em;
}


.activation{
    margin-top:2em;
    padding: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;

}

.remarque{
    margin-top:2em;
    padding: 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}


.margin-bottom{margin-bottom:3em;}

input.majuscule{
    text-transform:uppercase;
}

input.capitalize{
    text-transform:capitalize;
}

.formulaire_spip .editer_montant_don label {
    vertical-align:middle;
}
