#CACHE{0}
[(#SET{info_adherent,#INFOS_ADHERENT})]

<BOUCLE_membre(POUR){tableau #GET{info_adherent}|table_valeur{membres}}>
	<p>[Numéro d'adherent : (#VALEUR|table_valeur{id_membre})<br/>]
		[Nom d'adherent : (#VALEUR|table_valeur{nom})]</p>
</BOUCLE_membre>



<dl class="coordonnees">
	[<dt>Organisme</dt>
	<dd>[(#GET{info_adherent}|table_valeur{organisme})] </dd>]


	<dt>Adresse</dt>
	 <dd>[(#GET{info_adherent}|table_valeur{adresse})]<br>
		 [(#GET{info_adherent}|table_valeur{adresseCplt})<br>]
	[[(#GET{info_adherent}|table_valeur{codepostal})] (#GET{info_adherent}|table_valeur{ville})]<br/>
		[(#GET{info_adherent}|table_valeur{pays}|getSimplassoPays)]
	 </dd>
	<dt>Télephone</dt>
	<dd>[(#GET{info_adherent}|table_valeur{telephone}|sinon{"aucun"})]</dd>
	<dt>Mobile</dt>
	<dd>[(#GET{info_adherent}|table_valeur{mobile}|sinon{"aucun"})]</dd>
	<dt><:simplasso:label_email:></dt>
	<dd>[(#GET{info_adherent}|table_valeur{email})]</dd>
</dl>
<a href="#URL_PAGE{modifier_coordonnees}" class="btn btn-primary">Modifier vos coordonnées</a>
<hr/>
<div class="mdp">
	<h4>Mot de passe</h4>
	<a href="#URL_PAGE{modifier_mot_passe}" class="btn btn-primary">Modifier votre mot de passe</a>
</div>
<hr/>
<div class="coadherent">

	<h4>Liste des individus attachés à votre adhésion</h4>

	<ul class="liste-items liste_membres">
		<BOUCLE_membres(POUR){tableau #GET{info_adherent}|table_valeur{membre}}>
		[(#SET{individus,#VALEUR|table_valeur{individus}})]
		<li class="item">
			<ul class="liste-items liste_individus">
				<BOUCLE_coadh(POUR){tableau #GET{individus}}>
				<li class="item">
					[(#VALEUR|table_valeur{nomFamille}) [(#VALEUR|table_valeur{prenom})]]
				</li>
				</BOUCLE_coadh>
			</ul>
		</li>
		</BOUCLE_membres>
	</ul>
</div>
<hr/>
<div class="rgpd">
	[(#SET{rgpd,#GET{info_adherent}|table_valeur{rgpd}|sinon{#ARRAY{}}})]

	<h4>Usage des données personnelles</h4>
	<p>J'autorise l'association à :
	<ul class="liste-items">
	<BOUCLE_rgpd(POUR){tableau #GET{info_adherent}|table_valeur{rgpd}}>
		<li>
		[(#VALEUR|table_valeur{question}) : [(#VALEUR|table_valeur{reponse}|sinon{"non"})]]
		</li>
	</BOUCLE_rgpd>
	</ul></p>
	<a href="#URL_PAGE{modifier_rgpd}" class="btn btn-primary">Modifier vos autorisations d'usage</a>
</div>



