#CACHE{0}
<B_groupe>
	<div class="liste_groupe_individus">
		<table class="table table-striped">
		<tbody>
		<BOUCLE_groupe(DATA){source array, #ENV{tab_groupe_individus}|table_valeur{'individus'}}>
			<tr>
				<td>
					[(#VALEUR|table_valeur{'nom'})][ (#VALEUR|table_valeur{'prenom'})]
				</td>
				<td>
					<small>
					[<a href="[mailto:(#VALEUR|table_valeur{'email'})]">(#VALEUR|table_valeur{'email'})</a><br/>]
					[(#VALEUR|table_valeur{'telephones'})]
					</small>
				</td>
				<td>
					[(#VALEUR|table_valeur{'commentaire'})]
				</td>
			</tr>
		</BOUCLE_groupe>
		</tbody>
		</table>
	</div>
</B_groupe>
Pour l'instant personne dans le groupe
<//B_groupe>











