#CACHE{0}
[(#SET{liste_entite,#LISTE_ENTITE})]

[(#PLUGIN{simplpaie}|oui)
Faire un don : #FORMULAIRE_DON_ADHERENT

<hr/>]


[(#SET{liste_don,#LISTE_TRANSACTION})]
<B_transaction>
	<h4>Don en attente de paiement</h4>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Date</th>
			<th>Montant</th>
			<th>Mode paiement</th>
		</tr>
		</thead>
		<tbody>
		<BOUCLE_transaction(POUR){tableau #GET{liste_don}|table_valeur{'don'}}>
		<tr>
			<td>[(#VALEUR|table_valeur{'date'})]</td>
			<td>[(#VALEUR|table_valeur{'montant'})]</td>
			<td>[(#VALEUR|table_valeur{'mode_paiement'})]</td>

		</tr>
		</BOUCLE_transaction>
		</tbody>
	</table>

</B_transaction>



<h4>Historique de vos dons</h4>

[(#SET{liste_dons,#LISTE_DON})]
<BOUCLE_entite_don(POUR){tableau #GET{liste_entite}}>


<B_don>
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Date</th>
			<th>Montant</th>
			<th>Reçu fiscal</th>
		</tr>
		</thead>
		<tbody>
		<BOUCLE_don(POUR){tableau #GET{liste_dons}|table_valeur{#CLE}}>
		<tr>
			<td>[(#VALEUR|table_valeur{'date'})]</td>
			<td>[(#VALEUR|table_valeur{'montant'})]</td>
			<td>
				[(#SET{recu,#VALEUR|table_valeur{'recu_fiscal'}})]
				[(#GET{recu}|=={en_cours}|non|et{#GET{recu}|=={non_dispo}|non})
				<a href="[(#URL_ACTION_AUTEUR{'simplasso_recu_fiscal',#VALEUR|table_valeur{'recu_fiscal'}})]">Télécharger</a>]

				[(#GET{recu}|=={en_cours}|oui) En cours de génération]
				[(#GET{recu}|=={'non_dispo'}|oui) Non disponible]
			</td>

		</tr>
		</BOUCLE_don>
		</tbody>
	</table>

</B_don>
	Aucun don
<//B_don>

</BOUCLE_entite_don>
