#CACHE{0}
[(#SET{liste_entite,#LISTE_ENTITE})]

	<h4>Historique de vos cotisations</h4>

	[(#SET{liste_cotisation,#LISTE_COTISATION})]
	<BOUCLE_entite_cot(POUR){tableau #GET{liste_entite}}>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>Date</th>
			<th>Désignation</th>
			<th>Période</th>
			<th>Montant €</th>

		</tr>
		</thead>
		<tbody>
		<BOUCLE_cot(POUR){tableau #GET{liste_cotisation}|table_valeur{#CLE}}>
		<tr>
			<td>[(#VALEUR|table_valeur{'date'})]</td>
			<td>[(#VALEUR|table_valeur{'designation'})]</td>
			<td>[(#VALEUR|table_valeur{'periode'})]</td>
			<td>[(#VALEUR|table_valeur{'montant'})]</td>
		</tr>
		</BOUCLE_cot>
		</tbody>
	</table>

	</BOUCLE_entite_cot>





