#CACHE{0}
<B_groupe>
	<div class="liste_groupe_individus">
		<BOUCLE_groupe(DATA){source array, #ENV{tab_groupe_individus}|table_valeur{'individus'}}>
			<div class="individu depliable">
				<div class="row gachette">
					<div class="nom col-md-6">
						[(#VALEUR|table_valeur{'nom'})][ (#VALEUR|table_valeur{'prenom'})]
					</div>
					[<div class="commentaire col-md-6">(#VALEUR|table_valeur{'commentaire'})</div>]
				</div>
				<div class="coordonnees depliant">
					[<div class="email">
						<a href="[mailto:(#VALEUR|table_valeur{'email'})]">(#VALEUR|table_valeur{'email'})</a>
					</div>]
					[<div class="telephone">
					(#VALEUR|table_valeur{'telephones'})
					</div>]
				</div>
			</div>
		</BOUCLE_groupe>
	</div>
</B_groupe>
<//B_groupe>











