#CACHE{0}
[(#SET{dans_la_liste,0})]
<B_groupe>
	<div class="liste_groupe_individus">
		<table class="table table-striped">
		<tbody>
		<BOUCLE_groupe(DATA){source array, #ENV{tab_groupe_individus}|table_valeur{'individus'}}>
			<tr>
				<td>
					[(#VALEUR|table_valeur{'nom'})][ (#VALEUR|table_valeur{'prenom'})]
					[(#VALEUR|table_valeur{'id'}|=={#SESSION{simplasso}}|oui)
					<span class="badge badge-danger">Vous</span>
					[(#SET{dans_la_liste,1})]
					]
				</td>
				<td>
					<small>
					[<a href="[mailto:(#VALEUR|table_valeur{'email'})]">(#VALEUR|table_valeur{'email'})</a><br/>]
					[(#VALEUR|table_valeur{'telephones'})]
					</small>
				</td>
				<td>
					[(#VALEUR|table_valeur{'commentaire'})]
					[(#VALEUR|table_valeur{'id'}|=={#SESSION{simplasso}}|oui)
					<div class="depliable">

						<div class="gachette">
							[(#VALEUR|table_valeur{'commentaire'}|=={''}|?{"Ajouter un commentaire","Modifier le commentaire"})

							]

							</div>
						<div class="depliant">
							[(#FORMULAIRE_GROUPE_COMMENTAIRE{#ENV{groupe},#VALEUR|table_valeur{'commentaire'}})]
						</div>

					</div>



					]
				</td>
			</tr>
		</BOUCLE_groupe>
		</tbody>
		</table>
	</div>
</B_groupe>
Pour l'instant personne dans le groupe
<//B_groupe>
[(#GET{dans_la_liste}|non)

	[(#FORMULAIRE_GROUPE_REJOINDRE{#ENV{groupe}})]

]
[(#GET{dans_la_liste}|oui)

	[(#FORMULAIRE_GROUPE_QUITTER{#ENV{groupe}})]

]










