#CACHE{0}
<INCLURE{fond=inclure/adh_groupe_individus_table,env} />
<B_groupe>
	<div class="liste_groupe_individus">
		<table class="table table-striped">
			<tbody>
			<BOUCLE_groupe(DATA){source array, #ENV{tab_groupe_individus}|table_valeur{'groupes'}}>
			<h3 class="h3">[(#VALEUR|table_valeur{'info'}|table_valeur{'nom'})]</h3>
			<INCLURE{fond=inclure/adh_groupe_individus_table_recursif}{tab_groupe_individus=#VALEUR}{groupe=#CLE} />
			</BOUCLE_groupe>
			</tbody>
		</table>
	</div>
</B_groupe>






