<div id="espace_adherent">
    <h3 class="h3">Espace adh&eacute;rent</h3>
    <div class="bloc">
        [(#SESSION{id_auteur}|oui)
            [(#SESSION{simplasso_statut}|oui)
                [(#SET{info_adherent,#INFOS_ADHERENT})]
                [(#GET{info_adherent}|table_valeur{nom})]<br>
                <ul class="liens">
                    [<li><a href="(#URL_PAGE{espace_adherent})">Vos informations</a></li>]
                    [<li><a href="(#CONFIG{simplasso/rubrique_adherent}|simplasso_url_rubrique)">Acc&egrave;der à l'espace adh&eacute;rent</a></li>]
                </ul>
                [<h4>Outils d'administration</h4>
                <ul class="liens">
                    (#INCLURE{fond=inclure/bloc_adherent_outils})
                </ul>]
                <p></p>
                <ul class="liens">
                    [<li><a href="(#URL_LOGOUT{#URL_SITE_SPIP})">Se d&eacute;connecter</a></li>]
                </ul>
            ]
        ]
        [(#SET{url_redirect,#URL_SITE_SPIP})]
        [(#SESSION{id_auteur}|non)[(#FORMULAIRE_LOGIN_SIMPLASSO{#GET{url_redirect}})]]

    </div>
</div>
