[(#SESSION{statut}|=={0minirezo}|oui|ou{#SESSION{statut}|=={1comite}|oui})
<li><a href="#URL_ECRIRE">Espace de r&eacute;daction</a></li>]
[<li><a href="(#CONFIG{simplasso/url_logiciel})">Gestion des adh&eacute;rents</a></li>]
[(#PLUGIN{benevolat}|oui)
[(#AUTORISER{bouton,benevolat}|oui)
<li><a href="#URL_ECRIRE{benevolat_taches}">Gestion des bénévoles</a></li>]
]