#CACHE{0}
<section  class='auteur auteur_#ENV{id_auteur}'>


	<div class="col-md-12 bloc" id="perso">

		[(#SET{liste_entite,#LISTE_ENTITE})]
		[(#SET{info_adherent,#INFOS_ADHERENT})]
		<div class="inner">
			<div class="info_perso">

				<p>Bienvenue <strong>[(#GET{info_adherent}|table_valeur{nom})]</strong></p>

				<BOUCLE_entite(POUR){tableau #GET{liste_entite}}>
				[(#GET{info_adherent}|table_valeur{a_jour}|table_valeur{#CLE}|foreach)]
				[(#GET{info_adherent}|table_valeur{a_jour}|table_valeur{#CLE}|oui)
				<div class="alert--success margin-bottom">
				<div class="statut">Vous êtes &agrave; jour de cotisation</div>
				</div>
				]

				[(#GET{info_adherent}|table_valeur{a_jour}|table_valeur{#CLE}|non)
				<div class="alert--danger margin-bottom">
					<div class="statut statut_attention">
						Vous n'&ecirc;tes plus à jour de cotisation.
						[(#PLUGIN{simplpaiement}|oui)
							<a href="#URL_PAGE{renouveler_cotisation}" >Renouveler votre cotisation</a>
						]
						[(#PLUGIN{simplpaiement}|non)
						[<a href="(#CONFIG{simplasso/url_cotisation})" >Renouveler votre cotisation</a>]
						]
					</div>
				</div>]
				</BOUCLE_entite>

				[(#SET{onglet,'inclure/adh_coord'})]
				[(#ENV{bloc}|=={'cotisation'}|oui)#SET{onglet,"inclure/adh_cotisation"}]
				[(#ENV{bloc}|=={'don'}|oui)#SET{onglet,"inclure/adh_don"}]
				[(#ENV{bloc}|=={'infolettre'}|oui)#SET{onglet,"inclure/adh_infolettre"}]
				[(#ENV{bloc}|=={'votation'}|oui)#SET{onglet,"inclure/adh_votation"}]

				<ul class="nav nav-tabs nav-justified">
					<li class="nav-item">
						<a class="nav-link[(#ENV{bloc}|non) active]" href="[(#URL_PAGE{espace_adherent})]">Vos coordonnées</a>
					</li>
					<li class="nav-item">
						<a class="nav-link[(#ENV{bloc}|=={'cotisation'}|oui) active]" href="[(#URL_PAGE{espace_adherent})]&bloc=cotisation">Vos cotisations</a>
					</li>
					<li  class="nav-item">
						<a class="nav-link[(#ENV{bloc}|=={'don'}|oui) active]" href="[(#URL_PAGE{espace_adherent})]&bloc=don">Vos dons</a>
					</li>
					[(#PLUGIN{simplmailsub}|oui)
					<li  class="nav-item">
						<a class="nav-link[(#ENV{bloc}|=={'infolettre'}|oui) active]" href="[(#URL_PAGE{espace_adherent})]&bloc=infolettre">Infolettre</a>
					</li>]
					[(#PLUGIN{simplvote}|oui)
					<li  class="nav-item">
						<a [href="(#URL_PAGE{espace_adherent})&bloc=votation"] class="nav-link[(#ENV{bloc}|=={'votation'}|oui) active]">Votation</a>
					</li>]
				</ul>


				<div id="onglet" class="tab-content m-4">
					<div role="tabpanel" class="tab-pane active" id="#ENV{bloc,'adh_coord'}">
					<INCLURE{fond=#GET{onglet},env}/>
					</div>
				</div>

		</div>
	</div>

</section>



