[(#REM) 
<!-- Affichage de l'auteur: logo, nom, biographie...
	Recoit en argument :
		- id_auteur: id de l'auteur concerne
-->
]
<BOUCLE_description (AUTEURS) {tout}{id_auteur}>
	<div class="vcard" itemscope itemtype="http://schema.org/Person">
		<header class='cartouche'>
			[<h1 class="#EDIT{nom} fn nickname" itemprop="name">
			[<div  class="logo #EDIT{logo}">(#LOGO_AUTEUR|sinon{#CHEMIN{images/gravatar80.png}|balise_img{"",spip_logos}}
				|image_passe_partout{80}
				|image_recadre{80,80,center}
			  |inserer_attribut{itemprop,image})</div>](#NOM)</h1>]

		</header>

		<div class="main">
			[<div class="#EDIT{bio} bio">(#BIO)</div>]
			[<p class="#EDIT{hyperlien} hyperlien"><:voir_en_ligne:>&nbsp;: <a class="url org" href="(#URL_SITE)" itemprop="url">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></p>]
		</div>

		[<footer>
		<div class="notes">(#NOTES)</div>
		</footer>]
	</div>
</BOUCLE_description>
