#CACHE{0}
<div class="contenu-principal offset-md-2 col-md-8">
	[(#ENV{mdp_oublie}|oui)
	<h3>Changement de mot de passe </h3>]
	[(#ENV{mdp_oublie}|non)
	<h3>Activer votre espace adhérent</h3>]
	[(#ENV{token}|non)
	  #FORMULAIRE_ACTIVATION{#ENV{mdp_oublie}}]
	[(#ENV{token}|oui)
	  [(#FORMULAIRE_MOT_DE_PASSE_SIMPLASSO_ACTIVATION{#SESSION{simplasso_id}})]
	]
</div>