<BOUCLE_auteur_principal(AUTEURS){tout}{id_auteur=#SESSION{id_auteur}}>
	
<section  class='auteur auteur_#ID_AUTEUR'>
<INCLURE{fond=inclure/membre/description}{id_auteur}>

<div class="col-md-12 bloc" id='perso'>

	[(#SET{liste_entite,#LISTE_ENTITE})]
	[(#SET{info_adherent,#INFOS_ADHERENT})]
		<div class="inner">
			<div class="info_perso ">

		<p>Bienvenue <strong>[(#GET{info_adherent}|table_valeur{nom})]</strong></p>

		<BOUCLE_membre(POUR){tableau #GET{info_adherent}|table_valeur{membres}}>
				<p>[Numéro d'adherent : (#VALEUR|table_valeur{id_membre})<br/>]
				[Nom d'adherent : (#VALEUR|table_valeur{nom})]</p>
		</BOUCLE_membre>


		<BOUCLE_entite(POUR){tableau #GET{liste_entite}}>
				[(#GET{info_adherent}|table_valeur{a_jour}|table_valeur{#CLE}|foreach)]
			[(#GET{info_adherent}|table_valeur{a_jour}|table_valeur{#CLE}|oui)
			<div class="statut">Vous êtes &agrave; jour de cotisation</div>]

			[(#GET{info_adherent}|table_valeur{a_jour}|table_valeur{#CLE}|non)
			<div class="alert alert-danger">
				<div class="statut statut_attention">Vous n'&ecirc;tes plus à jour de cotisation.</div>

			</div>]

				[(#FORMULAIRE_PAYER_ACTE{10,
				#ARRAY{
				montant_ht,8,
				id_auteur,#ID_AUTEUR,
				}
				})]
		</BOUCLE_entite>



		<h3>Vos coordonnées</h3>
			[(#GET{info_adherent}|table_valeur{adresse})]<br>
			[[(#GET{info_adherent}|table_valeur{code_postal})] (#GET{info_adherent}|table_valeur{ville})]<br>



		<div class="bloc_formulaire">
			#BLOC_TITRE
			Modifier vos coordonnées
			#BLOC_DEBUT
			<div class="ajax">
				[(#FORMULAIRE_INFO_ADHERENT{#SESSION{id_auteur},#SELF})]
			</div>
			#BLOC_FIN
		</div>

		<h3>Historique de vos cotisations</h3>

				[(#SET{liste_cotisation,#LISTE_COTISATION})]
				<BOUCLE_entite_cot(POUR){tableau #GET{liste_entite}}>

				<table class="table table-striped">
					<thead>
					<tr>
						<th>Date</th>
						<th>Désignation</th>
						<th>Période</th>
						<th>Montant</th>

					</tr>

					</thead>
					<tbody>

						<BOUCLE_cot(POUR){tableau #GET{liste_cotisation}|table_valeur{#CLE}}>

							<tr>
								<td>[(#VALEUR|table_valeur{'date'})]</td>
								<td>[(#VALEUR|table_valeur{'designation'})]</td>
								<td>[(#VALEUR|table_valeur{'periode'})]</td>
								<td>[(#VALEUR|table_valeur{'montant'})]</td>

							</tr>
						</BOUCLE_cot>
					</tbody>
				</table>

				</BOUCLE_entite_cot>




	</div>




		<div class="bloc_formulaire">
		#BLOC_TITRE
		Modifier votre mot de passe
		#BLOC_DEBUT
		<div class="ajax">
				[(#FORMULAIRE_MOT_DE_PASSE_SIMPLASSO{#SESSION{id_auteur},#SELF})]
		</div>
		#BLOC_FIN
		</div>

		<div class="bloc_formulaire" id="abonnement_newsletter">
		#BLOC_TITRE
		Modifier vos abonnements à l'infolettre

		#BLOC_DEBUT
			<div class="ajax">
				[(#FORMULAIRE_EDITER_EMAIL_SUBSCRIPTION{#GET{info_adherent}|table_valeur{email}})]
			</div>
		#BLOC_FIN
		</div>

	</B_A>
	</div>
</div>


</section>
</BOUCLE_auteur_principal>


