#CACHE{0}
[(#SESSION{id_auteur}|oui)
    [(#SESSION{simplasso_statut}|oui)
        [(#INCLURE{fond=inclure/info_adherent}{env})]
    ]
    [(#SESSION{simplasso_statut}|non)
       <p> Vous êtes actuellement connecté en tant qu'utilisateur SPIP, si vous souhaitez avoir accès à votre espace membre, il vous faut d'abord vous <a href="[(#URL_LOGOUT)]">déconnecter</a>.</p>
    ]
]

[(#SESSION{id_auteur}|non)
    <div class="offset-md-2 col-md-5">
        <h3>Connexion à votre espace adhérent</h3>
        [(#FORMULAIRE_LOGIN_SIMPLASSO{#URL_PAGE{espace_adherent},'','',1})]
    </div>
]
