<div class="formulaire_spip formulaire_activation formulaire_simplasso">
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[(#ENV{editable})
<form id="activation_form" action="[(#ENV{action})][&mdp_oublie=1(#ENV{mdp_oublie}|oui)]" method="post">
	[(#REM) activer le traitement auto et dispatch sur charger/verifier/traiter]
	[(#ACTION_FORMULAIRE{#ENV{action}})]
	<fieldset>
		[(#ENV{mdp_oublie}|oui)
		<p class="legende">Vous avez oublié le mot de passe de votre compte. Saisissez dans le champ ci-dessous votre adresse email. Il vous sera ensuite transmis un email, vous permettant de redéfinir votre mot de passe.</p>
		]
		[(#ENV{mdp_oublie}|non)
		<p class="legende">Pour accéder votre espace adhérent, vous devez au préalable activer votre compte. Pour cela, saisissez dans le champ ci-dessous votre adresse email. Il vous sera ensuite transmis un email, vous permettant de choisir votre mot de passe.</p>
		]

		<div class="saisie_activation obligatoire[ (#ENV*{erreurs}|table_valeur{activation}|oui)erreur]">
			<label for="activation">Votre courriel : </label>
			[<span class='erreur'>(#ENV**{erreurs}|table_valeur{activation})</span>]
			<input type='text' class='text' name='activation' id='activation' value="#ENV**{activation}" />
			<input type="submit" class="submit btn btn-primary" value="<:pass_ok:>" />
		</div>

	</fieldset>
	[(#REM) Piege a robots spammeurs ]
	<p style="display: none;">
		<label for="nobot"><:antispam_champ_vide:></label>
		<input type="text" class="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" />
	</p>

</form>
	[<p class="remarque">Vous êtes adh&eacute;rent et vous rencontrez des problèmes pour acc&eacute;der à votre l'espace adh&eacute;rent, envoyez-nous un courriel à l'adresse suivante   <a href="mailto:[(#CONFIG{simplasso/email_sos})]">(#CONFIG{simplasso/email_sos})</a> en nous signalant votre nom, pr&eacute;nom et adresse mail.</p>]
<script type='text/javascript'>/*<!#EVAL{chr(91)}CDATA#EVAL{chr(91)}*/
 document.getElementById('activation').focus()
/*#EVAL{chr(93)}[(#EVAL{chr(93)})]>*/</script>]
</div>