<div class='formulaire_spip formulaire_configurer formulaire_configurer_forums_contenu' id='formulaire_configurer_forums_contenu'>
	<h3 class='titrem'><:simplasso:simplasso:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form action="#SELF" method="post">
		#ACTION_FORMULAIRE{#ENV{action}}
		[<p class='formulaire_ok'>(#ENV*{message_ok})</p>]
		[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]

		<fieldset>
		<legend><:simplasso:configuration_generale:></legend>
			<ul>
				[(#SAISIE{input,url_logiciel,label=<:simplasso:url_logiciel:>})]
				[(#SAISIE{oui_non,verifier_certificat,label=<:simplasso:verifier_certificat:>,default=on})]
			</ul>
		</fieldset>

		[(#PLUGIN{accesrestreint}|oui)
		<fieldset>
			<legend><:simplasso:espace_adherent:></legend>
			<ul>
				[(#SAISIE{zones,id_zone_es,label=<:simplasso:id_zone_espaceadherent:>})]
				[(#SAISIE{selecteur_rubrique,rubrique_adherent,label=<:simplasso:label_rubrique_espace_adherent:>})]
			</ul>
		</fieldset>
		]

		<fieldset>
			<legend><:simplasso:Informations_diverses:></legend>

			<ul>

				[(#SAISIE{input,email_sos,label=<:simplasso:label_email_sos:>})]
				[(#SAISIE{input,url_cotisation,label=<:simplasso:label_url_cotisation:>})]
			</ul>

		</fieldset>
		<p class="boutons"><input type="submit" class="submit btn--primary" name="_cfg_ok" value="<:simplasso:enregistrer:>" /></p>
	</form>
</div>
