<div class="formulaire_spip formulaire_editer formulaire_editer_groupe_rejoindre">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    <form method='post' action='#ENV{action}' enctype='multipart/form-data'>
        <div>
            #ACTION_FORMULAIRE{#ENV{action}}
            <input type='hidden' name='groupe_nomcourt' value='#ENV{groupe_nomcourt}'/>
            [<input type='hidden' name='redirect' value='(#ENV**{redirect})'/>]
            <!--extra--><input type='submit' class="btn btn-block btn-danger gros_bouton" value="Quitter la commission"/>
        </div>
    </form>
</div>
