<!-- formulaire de saisie de l'URL simplasso dans la fiche auteur -->
<div class="editer editer_simplasso[ (#ENV**{erreurs}|table_valeur{simplasso}|oui)erreur]">
	<label for="simplasso"><:simplasso:simplasso:></label>
	[<span class='erreur_message'>(#ENV*{erreurs}|table_valeur{simplasso})</span>]
	<input type='text' name='simplasso' id='simplasso' class='text' value="[(#ENV*{simplasso})]" />
</div>
