<div class="formulaire_spip formulaire_editer formulaire_editer_auteur formulaire_editer_declarant formulaire_editer_adherent">
    [<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
    [<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
    <form method='post' action='#ENV{action}' enctype='multipart/form-data'>
        <div>
            #ACTION_FORMULAIRE{#ENV{action}}
            <input type='hidden' name='id_auteur' value='#ENV{id_auteur}'/>
            [<input type='hidden' name='redirect' value='(#ENV**{redirect})'/>]
            <ul>
                [(#GENERER_SAISIES{#ENV{_mes_saisies}})]
            </ul>
            <!--extra-->
            <p class='boutons '><input type='submit' class='submit btn--primary' value='<:bouton_enregistrer:>'/></p>
            <p>[<a href="(#URL_PAGE{espace_adherent})" class="muted"><< retour à votre l'espace adhérent</a>]</p>
        </div>
    </form>
</div>
