#HTTP_HEADER{"Pragma: no-cache"}

<div class='formulaire_spip formulaire_login formulaire_login_simplasso'>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{_deja_loge})</p>]
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class='reponse_formulaire reponse_formulaire_erreur'>(#ENV*{message_erreur})</p>]

	[(#ENV{echec_cookie})
	<fieldset class='reponse_formulaire reponse_formulaire_erreur'>
		<h2><:avis_erreur_cookie:></h2>
		<p class="erreur_message"><:login_cookie_oblige:><br /><:login_cookie_accepte:></p>
	</fieldset>]

	[(#ENV{editable})
	<form id='formulaire_login' method='post' >
	[(#REM) declarer les hidden qui declencheront le service du formulaire parametre : url d'action ]
	#ACTION_FORMULAIRE{#ENV{action}}
	<fieldset>
		<legend><:form_forum_identifiants:></legend>
		[<span id="spip_logo_auteur">(#ENV*{_logo,''})</span>]
		<div class="editer-groupe">
			<div class="editer editer_login obligatoire[(#ENV**{erreurs}|table_valeur{var_login}|oui)erreur]">
				<label for="var_login"><:simplasso:label_courriel_login:> :</label>[
				<span class="erreur_message">(#ENV**{erreurs}|table_valeur{var_login})</span>
				]<input type='text' class='text' name='var_login' id='var_login' value="[(#ENV**{var_login})]" size='40'[(#HTML5) required='required' [(#ENV{autofocus}|oui) autofocus='autofocus']] autocapitalize="off" autocorrect="off" />
			</div>
			<div class="editer editer_password obligatoire[(#ENV**{erreurs}|table_valeur{password}|oui)erreur]">
				<label for="password"><:login_pass2:></label>[
				<span class="erreur_message">(#ENV**{erreurs}|table_valeur{password})</span>
				]<input type='password' class='text password' name='password' id='password' value="" size='40' autocapitalize="off" autocorrect="off" />
				<p class='details'><a href="[(#URL_PAGE{activation}|parametre_url{mdp_oublie,1})]" id='spip_pass'><:login_motpasseoublie:></a></p>
			</div>

		</div>
	</fieldset>
		<p class="boutons"><input type="submit" class="submit btn btn-primary" value="<:simplasso:bouton_se_connecter|attribut_html:>" /></p>
	</form>
	<div class='activation'>
		<h4><strong>Première visite</strong></h4>
		<p>Pour accéder la première fois à votre compte adhérent, vous devez activer votre compte pour obtenir votre identifiant et mot de passe.</p>
		<a href="#URL_PAGE{activation}" id='spip_activation' ><button class=" btn btn-success">Activer votre compte</button></a></div>
	]
	[(#REM) en cas d'absence de cookie, on represente le formulaire alternatif ]
	[<form action="(#ENV{auth_http})" method="get">[
	(#ENV{auth_http}|form_hidden)
	]
	<fieldset>
		<legend><:login_sans_cookie:></legend>
		<:login_preferez_refuser:>
		<input type="hidden" name="essai_auth_http" value="oui"/>
		[<input type="hidden" name="url" value="(#ENV{url})"/>]
		<p class="boutons">
			<input type="submit" class="submit btn btn-primary" value="<:login_sans_cookie|attribut_html:>"/>
		</p>
	</fieldset>
	</form>
	]
</div>
