<div class="formulaire_spip formulaire_mot_de_passe">
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[(#ENV*{editable}|?{' '})
<form id="newpass_form" action="[(#ENV{action})]" method="post">
	[(#REM) activer le traitement auto et dispatch sur charger/verifier/traiter]
	#ACTION_FORMULAIRE{#ENV{action}}
	<fieldset>


		<div class="editer-groupe">
			<div class="editer saisie_newpass obligatoire[ (#ENV*{erreurs}|table_valeur{newpass}|oui)erreur]">
				<label for="newpass">Votre nouveau mot de passe</label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{newpass})</span>]
				<input type='password' class='text' name='newpass' id='newpass' value="#ENV**{newpass}" autocapitalize="off" autocorrect="off" />
			</div>
			<div class="editer saisie_newpass_confirm obligatoire[ (#ENV*{erreurs}|table_valeur{newpass_confirm}|oui)erreur]">
				<label for="newpass_confirm"><:info_confirmer_passe:></label>
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{newpass_confirm})</span>]
				<input type='password' class='text' name='newpass_confirm' id='newpass_confirm' value="#ENV**{newpass_confirm}" autocapitalize="off" autocorrect="off" />
			</div>
		</div>
	</fieldset>
	[(#REM) Piege a robots spammeurs ]
	<p style="display: none;">
		<label for="nobot"><:antispam_champ_vide:></label>
		<input type="text" class="text" name="nobot" id="nobot" value="#ENV{nobot}" size="10" />
	</p>
	<p class="boutons"><input type="submit" class="submit btn--primary" value="<:pass_ok:>" /></p>
	<p>[<a href="(#URL_PAGE{espace_adherent})" class="muted"><< retour à votre l'espace adhérent</a>]</p>

</form>
]
</div>
