[(#AUTORISER{voir, simplasso})
#BOITE_OUVRIR{'','info'}
	<p><:simplasso:description_simplasso:></p>
<p>Consulter le <a href="http://simplasso.declic3000.com/doku.php?id=start">wiki</a> pour en savoir plus sur le logiciel</p>
#BOITE_FERMER
]
